In [1]:
import pandas as pd
import numpy as np
from numpy import random 
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

import os

In [17]:
df_data = pd.read_csv("EPL-2020.csv")
df_data

,Round Number,Date,Location,Home Team,Away Team,Result
0,1,12/09/2020 12:30,Craven Cottage,Fulham,Arsenal,0 - 3
1,1,12/09/2020 15:00,Turf Moor,Burnley,Man Utd,NaN
2,1,12/09/2020 15:00,Etihad Stadium,Man City,Aston Villa,NaN
3,1,12/09/2020 15:00,Selhurst Park,Crystal Palace,Southampton,1 - 0
4,1,12/09/2020 17:30,Anfield,Liverpool,Leeds,4 - 3
...,...,...,...,...,...,...
375,38,23/05/2021 16:00,Anfield,Liverpool,Crystal Palace,NaN
376,38,23/05/2021 16:00,Etihad Stadium,Man City,Everton,NaN
377,38,23/05/2021 16:00,Bramall Lane,Sheffield Utd,Burnley,NaN
378,38,23/05/2021 16:00,London Stadium,West Ham,Southampton,NaN
379,38,23/05/2021 16:00,Molineux Stadium,Wolves,Man Utd,NaN

In [16]:
 from datetime import date
    
df_data['Date'] = pd.to_datetime(df_data['Date']).astype(datetime)
df_data = df_data[df_data['Date'] > date(2019,9, 11)]

NameError: name 'datetime' is not defined

In [15]:
df_data.dtypes

Round Number             int64
Date            datetime64[ns]
Location                object
Home Team               object
Away Team               object
Result                  object
dtype: object